/node_modules

/public/hot
/public/storage
/public/mix-manifest.json
/public/css
/public/js
/public/fonts/vendor
/public/images/vendor

/storage/*.key
/storage/*.sqlite
/vendor
/.idea
/.vscode
npm-debug.log
yarn-error.log
/clover.xml
.env
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/graph.pdf
/auth.json
.vapor/
.env.production
.env.staging
